@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body
    font-family: 'Droid Sans Mono'
    background: #2F2539
    color: #D3D3F3
    line-height: 60%

    ::selection 
        background: #1D0F2B

.Operator
    font-family: 'Ludicia Console'
    font-size: 145%
    color: #BC92E3
    background: #3F2756

.Error
    border-bottom: 1px dashed red
    text-decoration: none

.Warning
    border-bottom: 1px dashed #FFD400
    text-decoration: none

#Editor
    outline: none
    line-height: 185%;